<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
  <title>Register</title>
  <!-- Font Awesome Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <!-- Bootstrap Grid Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />
  <!-- Own Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<body>
  <% if (locals.user) { %> <%- include('partials/headerLogueado') %> <% } else {
    %> <%- include('partials/header') %> <% } %>

  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Registrate</h2>
      </div>

      <div class="col-12">
        <% if (errorNombre) { %>
          <p class="avisos"><%= errorNombre %></p>
        <% } %>

        <% if (errorEmail) { %>
          <p class="avisos"><%= errorEmail %></p>
        <% } %>

        <% if (errorPassword) { %>
          <p class="avisos"><%= errorPassword %></p>
        <% } %>

        <% if (errorNacimiento) { %>
          <p class="avisos"><%= errorNacimiento %></p>
        <% } %>

        <form action="/user/register" method="POST" class="login-form">
          <label for="username">Nombre de usuario:</label>
          <input type="text" name="username" id="username" required />

          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required />

          <label for="password">Contraseña:</label>
          <input type="password" name="password" id="password" required />

          <label for="birthdate">Fecha de nacimiento:</label>
          <input type="date" name="birthdate" id="birthdate" required />

          <button type="submit">Registrarme</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>

</html>