<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title>Resultados</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<% if (locals.user) { %> <%- include('partials/headerLogueado') %> <% } else {
    %> <%- include('partials/header') %> <% } %>
		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Productos</h2>
				</div>
				<!-- Mostrar los productos -->

				<% if (listado.length === 0) { %>
					<div class="col-12">
						<p>No se encontraron productos.</p>
					</div>
				<% } else { %>
					<% for (let i = 0; i < listado.length; i++) {
						const producto = listado[i]; %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/detalle/<%= producto.id %>">
									<figure class="product-box_image">
										<img src="/images/products/<%= producto.imagen %>" alt="<%= producto.nombre %>"/>
									</figure>
									<article class="product-box_data">
										<h2><%= producto.nombre %></h2>
										<p><%= producto.descripcion %></p>
										<p>
											<a href="/user/profile/<%= producto.usuario.id %>">
												<%= producto.usuario.email %>
											</a>
										</p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>

	<%- include('partials/footer') %>
</body>
</html>
